.component-search {
    .search-header {
        color: white;
        line-height: 1;
        font-size: $font-size-xs;
        text-align: center;

        a {
            &:focus,
            &:hover {
                color: white;
            }
        }

        .flex-item {
            position: relative;
            flex-grow: 1;
            width: 33.33%;
            padding: 10px 15px;
            background-color: $brand-primary;

            &.active {
                background-color: $brand-secondary;
            }


            i.icon-tri-down.active{
              transform: rotate(180deg);
            }

            .custom-select {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }
        }

        .content {
            position: relative;
            @include text-truncate();
            max-width: 100%;
            display: block;
            padding-right: 12px;
        }

        .iconimg {
            width: 10px;
            margin-right: 5px;
        }

        .icon-cate {
            position: relative;
            top: -2px;
        }

        .icon-location2 {
            position: relative;
            top: -1px;
        }

        .icon-glass {
            position: relative;
            top: -1px;
            width: 12px;
        }

        .icon-tri-down {
            position: absolute;
            right: 0;
            margin-left: 5px;
            margin-right: 0;
        }

        .icon-glass {
            width: 12px;
        }
    }

    .search-box {
        display: none;
        width: 70%;
        margin: 10px auto;
        position: relative;

        .search-text {
            padding-left: 5px;
            padding-right: 40px;
            background-color: $gray-bg;
            border-color: transparent;
        }

        .search-btn {
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: transparent;
        }

        &.active {
            display: block;
        }
    }
}
